@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to left top,
    #820263,
    #9b305c,
    #aa545e,
    #b3766b,
    #b89685
  );
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

/* --------------------NAVBAR------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.7%;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid white;
  box-shadow: 60px -16px black;
}

.brand {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 0.2em;
  cursor: pointer;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  transition: 0.3s;
  color: white;
  font-size: 1.3rem;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
}

.link:hover,
.brand:hover {
  background-color: white;
  color: black;
}

/* -----------FOOTER----------------- */
a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
}

.footer-text{
    margin-bottom: .5em;
}

.social-icon{
    transition: 0.3s;
    font-size: 1.5rem;
}

.social-icon:not(:last-child){
    margin-right: .7em;
}

/* ---------------MEDIA-QUERIES------------------ */
@media only screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }

  .navbar {
    padding: 4%;
  }

  /* ----------------FOOTER---------------- */
  footer {
    font-size: 1rem;
    padding: 4%;
  }
}
